<!doctype html>
<html lang="en">
    {% load static %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>loopy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

        .nav-link {
            font-family: "Lemonada", serif;
            font-weight: 300;
            font-style: normal;
            font-size: 15px;
        }
      </style>
  </head>

  <body class="bg-light"> 
  
    <div class="container-fluid">
        {% include 'header.html' %} 
        <div class="mt-3  text-center">
            <p>لطلب نسخه مماثله من شات الخليج ، بالواتس اب فقط 00962797278253</p>
            
            
            
        </div>

        <!-- Username Input Section -->
        <div class="bg-white shadow mb-4 p-4 rounded w-100 text-end text-dark">
            <div class="col-12 d-flex justify-content-end align-items-center grid-gap gap-2">
                <h6 class="nav-link">دخول غرفة
                </h6>
              
  
                
                <svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-wechat"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16.5 10c3.038 0 5.5 2.015 5.5 4.5c0 1.397 -.778 2.645 -2 3.47l0 2.03l-1.964 -1.178a6.649 6.649 0 0 1 -1.536 .178c-3.038 0 -5.5 -2.015 -5.5 -4.5s2.462 -4.5 5.5 -4.5z" /><path d="M11.197 15.698c-.69 .196 -1.43 .302 -2.197 .302a8.008 8.008 0 0 1 -2.612 -.432l-2.388 1.432v-2.801c-1.237 -1.082 -2 -2.564 -2 -4.199c0 -3.314 3.134 -6 7 -6c3.782 0 6.863 2.57 7 5.785l0 .233" /><path d="M10 8h.01" /><path d="M7 8h.01" /><path d="M15 14h.01" /><path d="M18 14h.01" /></svg>
            </div>
            <hr>
            <div class="col-12 d-flex justify-content-center  py-3">
              
        
            
         </div>
            <div class="mt-2 col-12 text-center">[maxlength=45]</div>
     </div>
     <div class="bg-white shadow mb-4 bg-light p-4 rounded w-100 text-center text-dark">
   

        <div class="col-12 d-flex justify-content-end align-items-center grid-gap gap-2">
            <h6 class="nav-link text-dark"> منفذ اعلاني متاح  </h6>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-google-analytics"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 9m0 1.105a1.105 1.105 0 0 1 1.105 -1.105h1.79a1.105 1.105 0 0 1 1.105 1.105v9.79a1.105 1.105 0 0 1 -1.105 1.105h-1.79a1.105 1.105 0 0 1 -1.105 -1.105z" /><path d="M17 3m0 1.105a1.105 1.105 0 0 1 1.105 -1.105h1.79a1.105 1.105 0 0 1 1.105 1.105v15.79a1.105 1.105 0 0 1 -1.105 1.105h-1.79a1.105 1.105 0 0 1 -1.105 -1.105z" /><path d="M5 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /></svg>
  
        </div>
      <hr>
      <div class="col-12">
        <p> للحجز عن طريق الواتس اب فقط 00962797278253 </p>
      </div>
     </div>
    <div class="col-lg-12 d-lg-flex grid-gap gap-3 w-100">
      
     <div class="bg-white shadow mb-4 bg-light p-4 rounded w-100 text-center text-dark w-50">
      
        <div class="col-12 d-flex justify-content-end align-items-center grid-gap gap-2">
            <h6 class="nav-link text-dark"> اقسام شات لوبى</h6>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-bubble-text"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10h10" /><path d="M9 14h5" /><path d="M12.4 3a5.34 5.34 0 0 1 4.906 3.239a5.333 5.333 0 0 1 -1.195 10.6a4.26 4.26 0 0 1 -5.28 1.863l-3.831 2.298v-3.134a2.668 2.668 0 0 1 -1.795 -3.773a4.8 4.8 0 0 1 2.908 -8.933a5.33 5.33 0 0 1 4.287 -2.16" /></svg>
        </div>
      <hr>
      <ul class="list-group">
        <li class="list-group-item " aria-disabled="true">
            <a href="#" class="d-flex flex-row-reverse grid-gap gap-2 text-dark justify-content-center text-decoration-none"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-message-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9h8" /><path d="M8 13h6" /><path d="M9 18h-3a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-3l-3 3l-3 -3z" /></svg> منتدى الخليج </a>
           
        </li>
     
        <li class="list-group-item " aria-disabled="true">
            <a href="#" class="d-flex flex-row-reverse grid-gap gap-2 text-dark justify-content-center text-decoration-none"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-device-gamepad"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M2 6m0 2a2 2 0 0 1 2 -2h16a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-16a2 2 0 0 1 -2 -2z" /><path d="M6 12h4m-2 -2v4" /><path d="M15 11l0 .01" /><path d="M18 13l0 .01" /></svg>
                ألعاب الخليج  </a>
           
        </li>
        <li class="list-group-item " aria-disabled="true">
            <a href="#" class="d-flex flex-row-reverse grid-gap gap-2 text-dark justify-content-center text-decoration-none"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-camera-up"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 20h-7a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v3.5" /><path d="M12 16a3 3 0 1 0 0 -6a3 3 0 0 0 0 6z" /><path d="M19 22v-6" /><path d="M22 19l-3 -3l-3 3" /></svg>
                رفع الصور  </a>
           
        </li>
        <li class="list-group-item " aria-disabled="true">
            <a href="#" class="d-flex flex-row-reverse grid-gap gap-2 text-dark justify-content-center text-decoration-none"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-hipchat"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17.802 17.292s.077 -.055 .2 -.149c1.843 -1.425 3 -3.49 3 -5.789c0 -4.286 -4.03 -7.764 -9 -7.764c-4.97 0 -9 3.478 -9 7.764c0 4.288 4.03 7.646 9 7.646c.424 0 1.12 -.028 2.088 -.084c1.262 .82 3.104 1.493 4.716 1.493c.499 0 .734 -.41 .414 -.828c-.486 -.596 -1.156 -1.551 -1.416 -2.29z" /><path d="M7.5 13.5c2.5 2.5 6.5 2.5 9 0" /></svg>
                شات اللوبي  </a>
           
        </li>
        <li class="list-group-item " aria-disabled="true">
            <a href="#" class="d-flex flex-row-reverse grid-gap gap-2 text-dark justify-content-center text-decoration-none"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-device-desktop-share"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12.5 16h-8.5a1 1 0 0 1 -1 -1v-10a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v8" /><path d="M7 20h5.5" /><path d="M9 16v4" /><path d="M16 22l5 -5" /><path d="M21 21.5v-4.5h-4.5" /></svg>
                اعلن معنا   </a>
           
        </li>
        <li class="list-group-item " aria-disabled="true">
            <a href="#" class="d-flex flex-row-reverse grid-gap gap-2 text-dark justify-content-center text-decoration-none"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-users"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /><path d="M16 3.13a4 4 0 0 1 0 7.75" /><path d="M21 21v-2a4 4 0 0 0 -3 -3.85" /></svg>
                اتصل بنا  </a>
           
        </li>
      </ul>
     </div> 
     <div class="bg-white shadow mb-4 bg-light p-4 rounded w-100 text-center text-dark w-50">
      
        <div class="col-12 d-flex justify-content-end align-items-center grid-gap gap-2">
            <h6 class="nav-link text-dark">موضيع مفيدة</h6>
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-align-box-top-center"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /><path d="M9 9v-2" /><path d="M12 13v-6" /><path d="M15 11v-4" /></svg>  </div>
      <hr>
      <div class="container mt-5">
        <h1 class="text-center mb-4">قائمة الغرف</h1>
        
        <!-- قائمة الغرف -->
        <ul class="list-group">
            {% for room in rooms %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'room_enter' room.slug %}" class="text-decoration-none text-dark">
                        {{ room.name }}
                    </a>
                    <!-- هنا يمكنك إضافة أيقونة أو أزرار إضافية إذا أردت -->
                </li>
            {% endfor %}
        </ul>
    </div>
     </div> 
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% include 'footer.html' %} 
</body>
</html>